{% extends 'header_owner.html' %}

{% block content %}

<div>
    <style>
        input[type=text]{
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            border: 1px solid #121213;
            color: #050505;
            padding-left: 10px;
        }
    
        input[type=text]:focus {
            outline: none;
            border: 1px solid #383535;
            color: #0b0c0c;
        }

        input[type="submit"] {position: absolute;
        width: 120px;
        height: 50px;
        background: #FFB800;
        border: 5px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-size: 17px;
        left: 716px;
        top: 540px;}

    </style>
    <label for="" style="position: absolute;left: 160px;top: 130px;font-size: 30px;">ให้เราช่วยอะไร</label>
    <label for="" style="position: absolute;left: 180px;top: 160px;font-size: 30px;">How can we help</label>
    <label for="" style="position: absolute;left: 140px;top: 230px;font-size: 20px;">ติดต่อช่องทางอื่น</label>

    <div>
        <div style="margin-top: 180px;margin-left: 150px;">
            <img src="https://images-ext-1.discordapp.net/external/yaZ8GM1eBUkKByDpirhj7t6NH_Y6esfthW2ozBCd-Ik/https/bit.ly/2NJGvhT" width="48" height="48" />
            <p style="position: absolute; top: 290px;left: 210px;font-size: 135%;">Website :</p><br>
            <img src="https://bit.ly/2Zze0pS" width="48" height="48" style="margin-top: 5px;"/>
            <p style="position: absolute; top: 340px;left: 210px;font-size: 135%;">Line :</p><br>
            <img src="https://bit.ly/3kdxR7l" width="48" height="48" style="margin-top: 10px;"/>
            <p style="position: absolute; top: 400px;left: 210px;font-size: 135%;">Facebook :</p><br>
            <img src="https://bit.ly/2ZybWhF" width="48" height="48" style="margin-top: 10px;"/>
            <p style="position: absolute; top: 460px;left: 210px;font-size: 135%;">เบอร์โทร :</p><br>
            <img src="https://bit.ly/37wHtVK" width="48" height="48" style="margin-top: 10px;"/>
            <p style="position: absolute; top: 520px;left: 210px;font-size: 135%;">E-mail :</p><br>
            <img src="https://bit.ly/3udydiW" width="48" height="48" style="margin-top: 10px;"/>
            <p style="position: absolute; top: 575px;left: 210px;font-size: 135%;">เวลาทำการ : วันจันทร์ - วันศุกร์ เวลา 09.00 - 18.00 น.</p><br>
        </div>
    </div>
    <form action="#" method="post">
        {% csrf_token %}
    <div class="row"></div>
        <div class="col d-flex justify-content-left" style="position: absolute;top: 160px; left:780px">
            <div>
                <p>ชื่อ</p>
                <input type="text" name="fname" style="width: 200px;">
                <p style="font-size: 100%;color: crimson;">*จำเป็น</p>
            </div>
            <div style="margin-left: 80px;">
                <p>นามสกุล</p>
                <input type="text" name="lname" style="width: 200px;">
                <p style="font-size: 100%;color: crimson;">*จำเป็น</p>
            </div>
        </div>
    
        <div style="margin-top: -380px;margin-left: 780px;">
            <p>E-mail</p>
            <input type="text" name="email" style="width: 485px;">
            <p style="font-size: 100%;color: crimson;">*จำเป็น</p>
            <p>หัวข้อ</p>
            <input type="text" name="topic" style="width: 485px;">
            <p style="margin-top: 20px;">รายละเอียด</p>
            <textarea class="textarea" input type="text" name="detail" style="width: 485px;height: 150px; border-radius: 20px;border: 1px solid #121213;outline: none;padding-left: 10px;padding-top: 10px;"></textarea>
        </div>
    </div>
    <div>
        <input type="submit" value="บันทึก" class="btn btn-warning" style="position: absolute; left: 1145px; top: 600px;">
    </div>
    </form> 
</div>

{% endblock %}