{% extends 'header_owner.html' %}

{% block content %}
    <h2 align="center" style="position: absolute;width: 256px;height: 35px;left: 601px;top: 130px;">ประวัติการขายสินค้า</h2>
   
    <div style="position: absolute;width: 987px;height: 203px;left: 242px;top: 230px;">
        <table class="table table-bordered">
          <thead>
            <tr bgcolor="#ffb800">
              <th scope="col">รหัสสินค้า</th>
              <th scope="col">ชื่อสินค้า</th>        
              <th scope="col">จำนวน</th>
              <th scope="col">ราคารวม</th>
              <th scope="col">วัน/เดือน/ปี </th>
            </tr>
          </thead>
          <tbody>
            {% for table in tables %}
            <tr>
              <td>{{table.0}}</td>
              <td>{{table.1}}</td>
              <td>{{table.2}}</td>
              <td>{{table.3}}</td>
              <td>{{table.4}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    
    
{% endblock %}