{% extends 'header_owner.html' %}
{% block content %}
<style>
  
  .tableFixHead {
        overflow-y: auto;
        height: 700px;
      }
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        padding: 8px 16px;
        border: 1px solid #ccc;
        
      }
      th {
        background: #FFB800;
      }
     


 </style>
    
    <div class="tableFixHead">
    <table class="table table-bordered" style="position: absolute;width: 751px;left: 360px;top: 200px;border: 2px solid #000000;">
      <thead>
        <tr align="center">
          <th scope="col" style="font-size: 15px;">รหัส Order</th>
          <th scope="col" style="font-size: 15px;">รหัสสินค้า</th>
          <th scope="col" style="font-size: 15px;">ปริมาณ(ชิ้น)</th>
          <th scope="col" style="font-size: 15px;">ย้ายจาก</th>
          <th scope="col" style="font-size: 15px;">ไปยัง</th>
          <th scope="col" style="font-size: 15px;">ผู้ย้าย</th>
        </tr>
      </thead>
      <tbody>
        {% for i in lists %}
        <tr align="center">
          <th scope="row" style="font-size: 15px;">{{forloop.counter}}</th>
          <td style="font-size: 15px;">{{i.product_code}}</td>
          <td style="font-size: 15px;">{{i.qty}}</td>
          <td style="font-size: 15px;">{{i.from_shelf}}</td>
          <td style="font-size: 15px;">{{i.to_shelf}}</td>
          <td style="font-size: 15px;">{{i.employee}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
   
{% endblock %}