{% extends 'header.html' %}

{% block content %}
<style>
  button[type="button"] {position: absolute;
        width: 120px;
        height: 50px;
        background: #FFB800;
        border: 5px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-size: 17px;}
</style>
    <h2 align="center" style="position: absolute;width: 250px;height: 35px;left: 644px;top: 120px;">สถานะการส่งสินค้า</h2>
    <table class="table table-bordered" style="position: absolute;width: 1002px;left: 219px;top: 180px;">
      <thead>
        <tr align="center">
          <th scope="col">ลำดับ Order</th>
          <th scope="col">ชื่อร้าน</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
      
        </tr>
      </thead>
      <tbody>
        {% for order in orders%}
        <tr align="center">
         
         <th scope="col">{{order.order_id}}</th>
         <th scope="col">{{order.shop_name}}</th>
         <th scope="col">{{order.status}}</th>
         <th scope="col">{{order.date}}</th>
        
         
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <a href="/shipping">
          <button type="button" class="btn btn-warning" style="left: 1350px;top: 650px;">ย้อนกลับ</button>
      </a>
    </div>


{% endblock %}